@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom fonts */
@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/SFProDisplayRegular.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/SFProDisplayBold.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/SFProTextRegular.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/SFProTextMedium.otf') format('opentype');
}

@font-face {
  font-family: 'SF Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/SFMonoRegular.otf') format('opentype');
}

@font-face {
  font-family: 'SF Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/SFMonoMedium.otf') format('opentype');
}


html {
  scroll-behavior: smooth;
}

body * {
  @apply transition-colors duration-100;
}


/* custom scrollbar */
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

/* custom heading */
.display-heading {
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
}


/* trailer */
body:hover > #trailer {
  opacity: 1;
}

#trailer {
  width: 20px;
  height: 20px;
  @apply bg-dark dark:bg-light text-light dark:text-dark;
  border-radius: 20px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
  display: none;
  place-items: center;
}

#trailer:not([data-type=""]) > #trailer-icon {
  opacity: 1;
}

#trailer-icon {
  font-size: 8px;
  line-height: 4px;
  opacity: 0;
  transition: opacity 400ms ease;
}

/* skill badge */
.skill-badge {
  display: inline-block;
  padding: 6px 14px;
  @apply bg-primary/40 dark:bg-secondary/40;
  border-radius: 20px;
}


/* ui/ux screen */
.screen {
  height: 224px;
}

@media (min-width: 1024px) {
  .screen {
    height: 400px;
  }
}


/* elastic effect */
.elastic {
  position: absolute;
  /* width: 200px; */
}

.elastic.elasticbox-vertical {
  z-index: 30;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}


.elastic-vertical {
  position: absolute;
  width: 120px;
  height: 100%;
}

.elastic-vertical.left {
  left: 0;
  top: 0;
  bottom: auto;
}

.elastic-vertical.right {
  right: 0;
  top: 0;
  bottom: auto;
}

.elastic-vertical.elasticbox-vertical {
  z-index: 30;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}


.elastic-horizontal {
  position: absolute;
  height: 120px;
  width: 100%;
}

.elastic-horizontal.top {
  top: 0;
  left: 0;
  right: auto;
}

.elastic-horizontal.bottom {
  bottom: 0;
  left: 0;
  right: auto;
}

.elastic-horizontal.elasticbox-horizontal {
  z-index: 30;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}



canvas {
  display: inline-block;
  vertical-align: baseline;
}


/* circadian theme switch */
.circadian {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 1280px;
  padding: 12px;
  position: relative;
  z-index: 45;
}

@media (min-width: 1600px) {
  .circadian {
    margin: 0 auto;
  }
}

.hours {
  display: flex;
  width: 100%;
}

.hour {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.line-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.line {
  height: 40px;
  width: 2px;
  @apply bg-secondary;
  transform: translate3d(0, 20px, 0);
  transition: transform .5s cubic-bezier(0, .49, 0, 1.49), opacity .3s ease-in-out;
  border-radius: 20px;
}

.line.day {
  @apply bg-primary;
}

.hour:hover .line {
  transform: translateZ(0);
}

.line.hover {
  transform: translate3d(0, 10px, 0) !important;
}

.line.active {
  transform: translate3d(0, -5px, 0) !important;
}


/* theme icon */
.theme-icon {
  top: 0;
  left: 50%;
  width: 50px;
  height: 50px;
  z-index: 50;
  position: absolute;
  transform: translate3d(-50%, -100%, 0);
  border-radius: 50%;
  background-color: #1f2937;
  background-image: url('../dark.png');
  background-size: 28px;
  background-position: center;
  background-repeat: no-repeat;
}

.theme-icon.day {
  background-color: #7dd3fc;
  background-image: url('../light.png');
}
