@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom fonts */
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 100 144;
  font-display: swap;
  src: url('../assets/fonts/HelveticaNeueRegular.otf') format('opentype');
}


/* custom scrollbar */
html {
  scroll-behavior: smooth;
}

body * {
  @apply transition-colors duration-100;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}


/* trailer */
body:hover > #trailer {
  opacity: 1;
}

#trailer {
  width: 20px;
  height: 20px;
  @apply bg-[#264653] dark:bg-[#FFE66D] text-light dark:text-dark;
  border-radius: 20px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
  display: none;
  place-items: center;
}

#trailer:not([data-type=""]) > #trailer-icon {
  opacity: 1;
}

#trailer-icon {
  font-size: 8px;
  line-height: 4px;
  opacity: 0;
  transition: opacity 400ms ease;
}


/* ui/ux screen */
.screen {
  height: 224px;
}

@media (min-width: 1024px) {
  .screen {
    height: 400px;
  }
}


/* theme switch */
.line-container {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.line {
  position: relative;
  width: 2px;
  height: 20px; /* Initial height */
  transition: height 0.3s linear;
  @apply bg-[#AAAAAA];
}

.line.day {
  @apply bg-outline dark:bg-primary;
}

.theme-icon {
  width: 56px;
  height: 56px;
  position: absolute;
  top: -64px;
  left: -28px;
  pointer-events: none;
  background-color: #1f2937;
  background-image: url('../dark.png');
  background-size: 36px 36px;
  background-position: center center;
  background-repeat: no-repeat;
}

.theme-icon.day {
  background-color: #7dd3fc;
  background-image: url('../light.png');
}
